body{

font-family: Arial;

background: linear-gradient(135deg,#667eea,#764ba2);

text-align:center;

color:#333;

}

.container{

width:700px;
margin:auto;
margin-top:60px;
background:white;
padding:40px;
border-radius:12px;
box-shadow:0px 4px 15px rgba(0,0,0,0.1);
text-align:center;

}

h1{

color:#444;

}

button{

padding:12px 25px;

background:#667eea;

color:white;

border:none;

border-radius:6px;

font-size:16px;

cursor:pointer;

}

button:hover{

background:#5a67d8;

}

ul{
list-style-position: inside;
padding:0;
text-align:center;
}

li{
margin:5px 0;
font-size:18px;
}

.highlight{

font-size:22px;

font-weight:bold;

color:#667eea;

}
