<!DOCTYPE html>
<html>

<head>

<title>AI Resume Analyzer</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="container">

<h1>🚀 AI Resume Analyzer</h1>

<button onclick="toggleDarkMode()">🌙 Toggle Dark Mode</button>

<p>Upload your resume and get AI powered career insights</p>

<form action="/analyze" method="POST" enctype="multipart/form-data" onsubmit="showLoader()">

<input type="file" name="resume" required>

<br><br>

<button type="submit">Analyze Resume</button>

</form>

<div id="loader" class="loader">
Analyzing Resume... 🤖
</div>

</div>

<footer class="footer">
© 2026 AI-Resume-Analyzer | Built by Deepak Netha🚀
</footer>
  
<script src="/static/script.js"></script>

</body>
</html>
